{% unless grid_item_width %}
  {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
{% endunless %}

{% unless background_position %}
  {%- assign background_position = 'center center' -%}
{% endunless %}

{% if block.settings.collection_title != blank %}
  {%- assign title_output = block.settings.collection_title -%}
{% else %}
  {% if collection.empty? %}
    {%- assign title_output = 'home_page.onboarding.collection_title' | t -%}
  {% elsif collection_title %}
    {%- assign title_output = collection_title -%}
  {% else %}
    {%- assign title_output = collection.title | escape -%}
  {% endif %}
{% endif %}

<div class="grid__item {{ grid_item_width }}">
  <a href="{{ collection.url }}" class="collection-item collection-item--{{ settings.collection_grid_style }} {% if customer.tags contains 'biocoop' %}overflow-visible{% endif%}" data-aos="row-of-{{ per_row }}">
    {% if customer.tags contains 'biocoop' %}
      <div class="grid-product__tag grid-product__tag--custom top-minus-25 right-minus-25 bg-transparent">
        <img class="squared-50" src="{{ 'validated_by_biocoop.png' | asset_img_url }}" alt="validated_by_biocoop">
      </div>
    {% endif %}

    {% if settings.collection_grid_image == 'collection' and collection.image %}
      {%- assign collection_image = collection.image -%}
    {% else %}
      {%- assign collection_image = collection.products.first.featured_image -%}
    {% endif %}

    {% if collection.empty? %}
      {% capture placeholder %}collection-{% cycle 1,2,3,4,5,6 %}{% endcapture %}
      <div class="collection-image collection-image--{{ settings.collection_grid_shape }} collection-image--placeholder">{{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}</div>
    {% else %}
      <div class="image-wrap">
        <div
          class="collection-image collection-image--{{ settings.collection_grid_shape }} lazyload"
          data-bgset="{% include 'bgset', image: collection_image %}"
          data-sizes="auto"
          style="background-position: {{ background_position }};">
        </div>
      </div>
      <noscript>
        <div
          class="collection-image collection-image--{{ settings.collection_grid_shape }}"
          style="background-image: url({{ collection_image | img_url: '400x' }}); background-position: {{ background_position }};">
        </div>
      </noscript>
    {% endif %}

    <span
      class="collection-item__title collection-item__title--{{ settings.collection_grid_style }} collection-item__title--{{ settings.type_collection_font }} collection-item__title--{{ settings.collection_grid_text_align }}">
      {% if collection.metafields.global.product_type == blank %}
        <span>
          {{ title_output }}
        </span>
      {% else %}
        <span class="collection-item__title-no-hover">
          {{ title_output }}
        </span>
        <span class="collection-item__title-hover">
          {{ collection.metafields.global.product_type }}
        </span>
      {% endif %}
    </span>

  </a>
</div>
