{% if collection %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<hr>
  {% comment %}
	<ul class="pager">
		<li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous' | link_to: collection.previous_product }}</li>
		<li>{{ collection.title | link_to: collection.url }}</li>
		<li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next &raquo;' | link_to: collection.next_product }}</li>
	</ul>
    {% endcomment %}
	{% include '__containers-close' %}
</section>
{% endif %}

{% if product.metafields.social-feed.instagram != blank %}
  {% include 'social-feed-instagram' with product %}
{% endif %}

{% if settings.show-related-products %}
{% assign is-product-list = true %}
{% assign product_vendor = product.vendor | handleize %}
{% if collection %}{% assign product_collection = collection %}{% elsif collections[product_vendor] %}{% assign product_collection = collections[product_vendor] %}{% else %}{% assign product_collection = product.collections.first %}{% endif %}
{% if product_collection.products.size > 1 %}
<section id="product-list" class="section-wrap">
  {% include '__containers-open' %}
  <h2 class="page-header"><a href="{{ product_collection.url }}">{% include '__localize' with 'Related in' %} {{ product_collection.title }}</a></h2>
  <div class="row{% if thumbnail_layout == 'masonry' %} masonry-collection{% endif %} aab-related">
    {% if template contains 'index' %}
    {% if t_object != blank %}
    {% assign product_collection = t_object %}
    {% elsif products-list != blank %}
    {% assign product_collection = products-list %}
    {% else %}
    {% assign product_collection = collections[settings.homepage-products-collection] %}
    {% endif %}
    {% elsif collection %}
    {% assign product_collection = collection %}
    {% endif %}
    {% if template contains 'index' or products-list == 'limit' %}
    {% if settings.homepage-products-limit contains 'unlimited' %}{% assign limit = nil %}{% else %}{% assign limit = settings.homepage-products-limit %}{% endif %}
    {% endif %}
    {% for p in product_collection.products | limit: 4 %}
    {% assign product_count = forloop.length %}
    <div class="col-sm-6 col-sm-4 col-md-3 {% for tag in p.tags %}tag-{{ tag | downcase | handleize }} {% endfor %}{% if thumbnail_layout == 'masonry' %} masonry{% endif %}" {% include '__product-data-attr' with _product %}>
      <div class="product-thumbnail">
        <div class="thumbnail-image{% if product_collection.metafields.secondary-image.show == 'true' and p.metafields.secondary-image.src != blank %} has-secondary-image{% endif %}">
          {% assign product_url = p.url | within: collection %}
          {% if p.featured_image == blank %}
 		  {% include 'image-placeholder' %}         
          {% assign image = image | link_to: product_url %}
          {% else %}
          {% assign image = p.featured_image.src | product_img_url: 'grande' | img_tag:  p.featured_image.alt | link_to: product_url %}
          {% endif %}{{ image }}

          {% if product_collection.metafields.secondary-image.show == 'true' and p.metafields.secondary-image.src != blank %}
          {% capture image_secondary %}{{ p.metafields.secondary-image.src | img_tag | link_to: p.url }}{% endcapture %}{{ image_secondary | strip }}
          {% endif %}
        </div>
        <a href="{{ product_url }}" class="caption clearfix">
          {% if settings.show-vendor-with-thumbnail == 'above-product-title' %}<div class="product-vendor">{{ p.vendor }}</div>{% endif %}
          <h4 class="product-title">{{ p.title }}</h4>
          {% if settings.show-vendor-with-thumbnail == 'below-product-title' %}<div class="product-vendor">{{ p.vendor }}</div>{% endif %}
          <div class="shopify-product-reviews-badge" data-id="{{ p.id }}"></div>
          {% if has_prices and p.price > 0 %}
          <div class="product-price">
            {% if settings.show-compare-at-price and p.compare_at_price > 0 %}	
            {% capture was %}
            {% include '__localize' with 'was' %}
            <span class="money">
              {% if settings.show-currency-with-prices == "with-currency" %}
              {{ p.compare_at_price_max | money_with_currency }}
              {% else %}
              {{ p.compare_at_price_max | money }}
              {% endif %}
            </span>
            {% endcapture %}
            <small class="text-muted"><del>{{ was | strip }}</del></small>&nbsp;
            {% elsif p.price_varies %}
            <small class="text-muted">
              {% include '__localize' with 'from' %}
            </small>
            {% endif %}

            {% include '__poa-tag' with p %}
            {% if price_is_poa %}
            <span>{% include '__localize' with 'POA' %}</span>
            {% else %}
            {% include 'product-price' with p.price %}
            {% endif %}
            {% include 'product-labels' with p %}
          </div>
          {% endif %}
        </a>
        {% unless settings.yotpo-api-key == blank %}
        <div class="yotpo bottomLine"
             data-appkey="{{ settings.yotpo-api-key }}"
             data-domain="{{ shop.permanent_domain | escape }}"
             data-product-id="{{ p.id }}"
             data-product-models="{{ p.id }}"
             data-name="{{ p.title | escape }}"
             data-url="{{ page.url }}"
             data-image-url="{{ p.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
             data-description="{{ p.description | escape }}"
             data-bread-crumbs="{% for tag in p.tags %}{{ tag | escape }};{% endfor %}">
        </div>
        {% endunless %}

        {% if settings.show-stock-availability-on-collection %}
        <div class="product-deal">
          <div class="product-availability">
            {% include 'product-availability' with p %}
          </div>
          {% if p.metafields.inventory.ShappifySaleEndDate %}
          <div class="sale-clock">
            {% include 'shappify-sales-clock' with p %}
          </div>
          {% endif %}
        </div>
        {% endif %}

        {% if settings.quick-cart %}
        <div class="quick-cart">
          <div class="quick-cart-btn-wrapper">
            <a href="{{ product_url }}" class="quick-cart-btn view">
              {% if settings.collection-btn-icons %}
              <i class="fa fa-search fa-fw"></i>
              {% else %}
              {% include '__localize' with 'View product' %}
              {% endif %}
            </a>
          </div>
          <div class="quick-cart-btn-wrapper">
            <form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">
              <input type="hidden" name="id" value="{{ p.selected_or_first_available_variant.id }}" />
              <input type="hidden" name="quantity" value="1" />
              <button type="submit" name="add" id="purchase" class="quick-cart-btn add-to-cart">
                {% if settings.collection-btn-icons %}
                <i class="fa fa-cart-plus fa-fw"></i>
                {% else %}
                {% include '__localize' with 'Add to cart' %}
                {% endif %}
              </button>
            </form>
          </div>
        </div>
        {% endif %}
        {% if settings.quick-shop %}
        <button type="button" class="btn btn-primary btn-block quick-shop-toggle" data-toggle="modal" data-target="#quick_shop_modal" data-handle="{{p.handle}}">Quick Shop</button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% include '__containers-close' %}
</section>
{% endif %}
{% endif %}

{% if settings.secondary-related-collection %}
{% assign product_collection = collections[settings.secondary-related-collection] %}
{% if product_collection.products.size > 0 %}
<section id="product-list" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header"><a href="{{ product_collection.url }}">{% include '__localize' with 'Recommended in' %} {{ product_collection.title }}</a></h2>
		{% include 'products-list' with 'limit' %}
	{% include '__containers-close' %}
</section>
{% endif %}
{% endif %}