{%- assign on_sale = false -%}
{% if product.compare_at_price > product.price %}
  {%- assign on_sale = true -%}
{% endif %}

{%- assign product_tags = product.tags | join: ',' -%}
{%- assign best_seller = false -%}
{% if product_tags contains 'Meilleures Ventes' %}
  {% for tag in product.tags %}
    {% if tag contains 'Meilleures Ventes' %}
      {%- assign best_seller = true -%}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="grid__item grid-product {{ grid_item_width }}{% if settings.quick_shop_enable and sold_out == false %} grid-product__has-quick-shop{% endif %}" data-aos="row-of-{{ per_row }}">
  <div class="grid-product__content">
    {% if best_seller %}
      <div class="grid-product__tag grid-product__tag--custom">
        Meilleure Vente
      </div>
    {% else %}
      {% if sold_out %}
        <div class="grid-product__tag">
          {{ 'products.product.sold_out' | t }}
        </div>
      {% endif %}
      {% if on_sale and sold_out == false %}
        <div class="grid-product__tag grid-product__tag--sale">
          {{ 'products.general.sale' | t }}
        </div>
      {% endif %}
    {% endif %}

    {%- assign fixed_aspect_ratio = false -%}
    {% unless settings.product_grid_image_size == 'natural' %}
      {%- assign fixed_aspect_ratio = true -%}
    {% endunless %}

    <a href="{{ product.url | within: collection }}" class="grid-product__link">
      <div class="grid-product__image-mask">
        {% if fixed_aspect_ratio %}
          <div
            class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }} lazyload"
            data-bgset="{% include 'bgset', image: product.featured_image %}"
            data-sizes="auto">
          </div>
        {% else %}
          <div class="image-wrap"
            style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;"
            >
            {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="grid-product__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080]"
                data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ product.featured_image.alt | escape }}">
            <noscript>
              <img class="grid-product__image lazyloaded"
                src="{{ product.featured_image | img_url: '400x' }}"
                alt="{{ product.featured_image.alt | escape }}">
            </noscript>
          </div>
        {% endif %}

        {% if settings.product_hover_image and product.images.size > 1 %}
          {% for image in product.images offset: 1 limit: 1 %}
            {%- assign second_image = image -%}
          {% endfor %}
          <div
            class="grid-product__secondary-image small--hide lazyload"
            data-bgset="{% include 'bgset', image: second_image %}"
            data-sizes="auto">
          </div>
        {% endif %}
      </div>

      <div class="grid-product__meta">
        <div class="grid-product__title grid-product__title--{{ settings.type_product_style }}">{{ product.title }}</div>
        {% if settings.vendor_enable %}
          <div class="grid-product__vendor">{{ product.vendor }}</div>
        {% endif %}
        {% if settings.show_price_to_visitors or customer %}
          {% if customer.tags contains 'blocked' %}
            <a class="text-shortage bold my-10" href="https://www.aventure.bio/pages/contactez-nous-rencontrons-nous">
              {{ 'customer.register.blocked' | t }}
            </a>
          {% else %}
            <div class="grid-product__price">
              {% if on_sale %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {% endif %}
              {% if product.price_varies %}
                {%- assign price = product.price_min | money -%}
                {{ 'products.general.from_text_html' | t: price: price }}
              {% else %}
                {% if product.metafields.quantity.batch_size == blank or product.metafields.quantity.batch_size == "1" or product.metafields.quantity.batch_size == 1 %}
                  {{ product.price  | money }}
                {% else %}
                  {%- assign formatted_price = product.price | money -%}
                  {%- assign batch_size = product.metafields.quantity.batch_size -%}
                  {%- assign formatted_unit_price = product.price | divided_by: batch_size | money -%}
                  {{ 'products.product.price_in_batch' | t: batch_size: batch_size, price: formatted_price, unit_price: formatted_unit_price }}
                {% endif %}

                {% if on_sale %}
                  {% if settings.product_save_amount %}
                    {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money }}{% endcapture %}
                    <span class="grid-product__price--savings">{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</span>
                  {% endif %}
                {% endif %}
              {% endif %}


            </div>
          {% endif %}
        {% else %}
          <a class="text-shortage bold my-10" href="https://www.aventure.bio/account/login">
            {{ settings.text_for_visitors }}
          </a>
        {% endif %}
        {% if settings.enable_product_reviews %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
      </div>
    </a>

    {% if settings.show_price_to_visitors or customer %}
      {% unless customer.tags contains 'blocked' %}
        {% assign main_variant = product.variants | first %}
        <div class="w-100 text-center my-10">
          <a href="http://www.aventure.bio/cart/add?id={{ main_variant.id }}" class="btn btn--success">{{ 'products.product.add_to_cart' | t }}</a>
        </div>
      {% endunless %}
    {% endif %}

  </div>
</div>
