

  <div class="product__row my-30">
    <div class="grid grid--full product__row--table-large">

      <div class="grid__item medium-up--three-fifths">
        <div class="grid mb-10 d-flex align-center">

          <div class="grid__item one-quarter">
            <a href="{{ product.url | within: collection }}" class="grid-product__link {% if sold_out %} grid-product__link--disabled{% endif %}">
              <div class="grid-product__image-mask">
                {%- assign fixed_aspect_ratio = false -%}
                {% unless settings.product_grid_image_size == 'natural' %}
                  {%- assign fixed_aspect_ratio = true -%}
                {% endunless %}


                {% if fixed_aspect_ratio %}
                  <div
                    class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }} lazyload"
                    data-bgset="{% include 'bgset', image: product.featured_image %}"
                    data-sizes="auto">
                  </div>
                {% else %}
                  <div class="image-wrap"
                    style="height: 0; padding-bottom: {{ 100 | divided_by: product.featured_image.aspect_ratio }}%;"
                    >
                    {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img class="grid-product__image lazyload"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080]"
                        data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ product.featured_image.alt | escape }}">
                    <noscript>
                      <img class="grid-product__image lazyloaded"
                        src="{{ product.featured_image | img_url: '400x' }}"
                        alt="{{ product.featured_image.alt | escape }}">
                    </noscript>
                  </div>
                {% endif %}
              </div>

            </a>
          </div>

          <div class="grid__item three-quarters">
            <a href="{{ product.url | within: collection }}" class="h4 mb-0">
              {{ product.title }}
            </a>
          </div>

        </div>
      </div>

      <div class="grid__item medium-up--two-fifths">
        <div class="grid product__row--table">

          <div class="grid__item one-third text-center">
            <div class="grid-product__vendor">{{ product.vendor }}</div>
          </div>

          <div class="grid__item one-third text-center">
            {% if on_sale %}
                <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
              {% endif %}
              {% if product.price_varies %}
                {%- assign price = product.price_min | money -%}
                {{ 'products.general.from_text_html' | t: price: price }}
              {% else %}
                {% if product.metafields.quantity.batch_size == blank or product.metafields.quantity.batch_size == "1" or product.metafields.quantity.batch_size == 1 %}
                  {{ product.price  | money }}
                {% else %}
                  {%- assign formatted_price = product.price | money -%}
                  {%- assign batch_size = product.metafields.quantity.batch_size -%}
                  {%- assign formatted_unit_price = product.price | divided_by: batch_size | money -%}
                  {{ 'products.product.price_in_batch' | t: batch_size: batch_size, price: formatted_price, unit_price: formatted_unit_price }}
                {% endif %}

                {% if on_sale %}
                  {% if settings.product_save_amount %}
                    {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money }}{% endcapture %}
                    <span class="grid-product__price--savings">{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</span>
                  {% endif %}
                {% endif %}
              {% endif %}
          </div>

          <div class="grid__item one-third text-center">
            {% include 'full-product-form' %}
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr class="medium-up--hide">
