<div class="page-width page-content">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

      <header class="section-header">
        <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>
        <p>{{ 'customer.register.explanations' | t }}</p>
      </header>

      <div class="form-vertical">
        {% form 'create_customer' %}

          {{ form.errors | default_errors }}

          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="FirstName" class="input-full" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus required>

          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" class="input-full" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" required>

          <label for="ShopName">{{ 'customer.register.shop_name' | t }}</label>
          <input type="text" name="customer[note][ShopName]" id="ShopName" class="input-full" {% if form.shop_name %}value="{{ form.shop_name }}"{% endif %} autocapitalize="words" required>

          <label for="City">{{ 'customer.register.city' | t }}</label>
          <input type="text" name="customer[note][City]" id="City" class="input-full" {% if form.city %}value="{{ form.city }}"{% endif %} autocapitalize="words" required>

          <label for="Zip">{{ 'customer.register.zip_code' | t }}</label>
          <input type="text" name="customer[note][ZipCode]" id="Zip" class="input-full" {% if form.city %}value="{{ form.zip_code }}"{% endif %} autocapitalize="words" required>

          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>

          <label for="Phone">{{ 'customer.register.phone' | t }}</label>
          <input type="tel" name="customer[note][Phone]" id="Phone"  class="input-full" {% if form.phone %}value="{{ form.phone }}"{% endif %} required>

          <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" required>

          <div>
            <input type="hidden" name="customer[accepts_marketing]" value="" />
            <input type="checkbox" name="customer[accepts_marketing]" />
            <span>{{ 'customer.register.accepts_marketing' | t }}</span>
          </div>

          <div>
            <input type="checkbox" name="pro" required/>
            <span>{{ 'customer.register.is_pro' | t }}</span>
          </div>

          <p>
            <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full btn--success">
          </p>

        {% endform %}
      </div>

    </div>

  </div>
</div>
