{% paginate collection.products by section.settings.product_per_page %}

<div
  id="CollectionSection"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template">

  <h1 class="text-center mb-40" itemprop="name">{{ collection.title }}</h1>

  {% if collection.description != blank %}
    <div class="rte">
      {{ collection.description }}
    </div>
    <hr class="hr--clear hr--small">
  {% endif %}

  {% if section.settings.subcollection_style == 'above' %}
    {% include 'subcollections', per_row: section.settings.subcollections_per_row %}
  {% endif %}

  <div class="collection-filter">
    {%- assign current_filter_size = current_tags | size -%}
    <div class="collection-filter__item collection-filter__item--drawer">
      <button
        type="button"
        class="js-drawer-open-collection-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
        aria-controls="FilterDrawer">
        {% include 'icon-filter' %}
        {{ 'collections.filters.title_tags' | t }}
        {% if current_filter_size > 0 %}
          ({{ current_filter_size }})
        {% endif %}
      </button>
    </div>

    <div class="collection-filter__item collection-filter__item--count">
      {{ 'collections.general.items_with_count' | t: count: collection.products_count }}
    </div>

    <div class="collection-filter__item collection-filter__item--sort">
      <div class="collection-filter__sort-container">
        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
        <label for="SortBy" class="hidden-label">{{ 'collections.sorting.title' | t }}</label>
        <select name="SortBy" id="SortBy">
          {% if sort_by == collection.default_sort_by %}
            <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
            {% if collection.default_sort_by != 'manual' %}
              <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'best-selling' %}
              <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'title-ascending' %}
              <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'title-descending' %}
              <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'price-ascending' %}
              <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'price-descending' %}
              <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'created-descending' %}
              <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
            {% endif %}
            {% if collection.default_sort_by != 'created-ascending' %}
              <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
            {% endif %}
          {% else %}
            <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
            <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
            <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
            <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
            <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
            <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
            <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
            <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
          {% endif %}
        </select>
        <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
      </div>
    </div>
  </div>

  <div class="grid grid--uniform grid--collection">

    {% for product in collection.products %}
      {% include 'product-line-item' %}
    {% else %}
      <div class="grid__item">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endfor %}

  </div>

  {% if section.settings.subcollection_style == 'below' %}
    {% include 'subcollections', per_row: section.settings.subcollections_per_row %}
  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</div>

{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "range",
        "id": "rows_per_page",
        "label": "Rows per page",
        "default": 50,
        "min": 10,
        "max": 50,
        "step": 1
      }
    ]
  }
{% endschema %}
